In [1]:
print('hello')

hello

In [2]:
from langchain.llms import GooglePalm

In [4]:
api_key = ""

llm = GooglePalm(google_api_key= api_key)

poem = llm("write a poem on India.")
print(poem)

C:\Users\Muskan Gangwani\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

India, land of beauty and wonder,
Your culture is rich and your history is grand.
Your people are warm and welcoming,
And your food is delicious and satisfying.

You are a land of contrasts,
With towering mountains and lush jungles.
You have deserts and beaches,
And you are home to some of the world's most sacred rivers.

You are a land of many religions,
And you are a land of many languages.
You are a land of many cultures,
And you are a land of many traditions.

But you are also one country,
With one flag and one anthem.
You are a land of unity and diversity,
And you are a land of hope and opportunity.

India, you are a land of dreams,
And you are a land of possibilities.
You are a land of the past,
And you are a land of the future.

You are India,
And you are beautiful.

In [5]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [6]:
db_user = "root"
db_password = "iitmmuskan"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Nike	Blue	XL	10	73
2	Levi	Red	XS	46	46
3	Levi	Black	M	24	12
*/

In [7]:
db_chain = SQLDatabaseChain.from_llm(llm,db,verbose = True)
qns_1 = db_chain.run("How many t-shirts do we have left for nike in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand='Nike' AND color='White' AND size='XS'
SQLResult: [(95,)]
Answer:95
> Finished chain.

In [8]:
qns_1

'95'

In [9]:
qns_2 = db_chain.run("How much is the total price of the inventory for all S-size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the total price of the inventory for all S-size t-shirts?
SQLQuery:SELECT sum(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('349'),)]
Answer:349
> Finished chain.

In [10]:
# but we wanted
qns_2 = db_chain.run("SELECT SUM(price*stock_quantity) FROM t_shirts where size = 'S'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts where size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts where size = 'S'
SQLResult: [(Decimal('16659'),)]
Answer:16659
> Finished chain.

In [11]:
qns_3 = db_chain.run("if we have to sell all Levi's t-shirts today with discounts applied.How much revenue our store will generate(post discount)?")

> Entering new SQLDatabaseChain chain...
if we have to sell all Levi's t-shirts today with discounts applied.How much revenue our store will generate(post discount)?
SQLQuery:SELECT SUM(price * (1 - pct_discount)) FROM discounts d JOIN t_shirts t ON d.t_shirt_id = t.t_shirt_id WHERE t.brand = 'Levi' AND t.stock_quantity > 0
SQLResult: [(Decimal('-2090.00'),)]
Answer:-2090
> Finished chain.

In [12]:
# but we wanted
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

qns_3 = db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('16142.400000'),)]
Answer:16142.4
> Finished chain.

In [13]:
qns_4 = db_chain.run("how many Levi's white t-shirts we have?")

> Entering new SQLDatabaseChain chain...
how many Levi's white t-shirts we have?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = "Levi" AND color = "White"
SQLResult: [(31,), (92,), (37,), (64,)]
Answer:31
> Finished chain.

31 + 92 + 37 + 64

In [14]:
# but we wanted 224
qns_4 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('224'),)]
Answer:224
> Finished chain.

In [15]:
qns_5 = db_chain.run("If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?
SQLQuery:SELECT SUM(`price`) FROM `t_shirts` WHERE `brand` = "Levi"
SQLResult: [(Decimal('346'),)]
Answer:346
> Finished chain.

In [16]:
qns_5 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('16950'),)]
Answer:16950
> Finished chain.

**Few shot learning**

In [17]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns_1},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': qns_2},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': qns_3} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : qns_5},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns_4
     }
]

In [18]:
from langchain.embeddings import HuggingFaceEmbeddings

embeddings = HuggingFaceEmbeddings(model_name = 'sentence-transformers/all-MiniLM-L6-v2')

# e = embeddings.embed_query("How many white color Levi's shirt I have?")
# e[:5]

**create a vector database --> remove all keys and merge strings together**

In [19]:
to_vectorize = [" ".join(example.values()) for example in few_shots]

In [20]:
# create a vector store using ChromaDB

from langchain.vectorstores import Chroma
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots)

In [21]:
from langchain.prompts import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector(vectorstore=vectorstore, k=2)

example_selector.select_examples({"Question": "How many Adidas T-shirts I have left in my store"})

[{'Answer': '95',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '224',
  'Question': "How many white color Levi's shirt I have?",
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
  'SQLResult': 'Result of the SQL query'}]

In [22]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX,_mysql_prompt

In [23]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [24]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [25]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [29]:
from langchain.prompts import FewShotPromptTemplate
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [30]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [31]:
new_chain("How many white color Levi's shirt I have?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have?
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('224'),)]
Answer:224
> Finished chain.

{'query': "How many white color Levi's shirt I have?", 'result': '224'}

Now this is working ok. Previously for this same question it was giving wrong answer because it did not use SUM clause around stock_quantity column

In [32]:
new_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT sum(price * stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('16659'),)]
Answer:16659
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '16659'}

In [33]:
new_chain("How much is the price of all white color levi t shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of all white color levi t shirts?
SQLQuery:SELECT sum(price*stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('6719'),)]
Answer:6719
> Finished chain.

{'query': 'How much is the price of all white color levi t shirts?',
 'result': '6719'}

In [37]:
new_chain("If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue our store will generate (post discount)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue our store will generate (post discount)?
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('21118.400000'),)]
Answer:21118.4
> Finished chain.

{'query': 'If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue our store will generate (post discount)?',
 'result': '21118.4'}

In [38]:
new_chain("If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue our store will generate (post discount)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue our store will generate (post discount)?
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Van Huesen'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('22349.250000'),)]
Answer:22349.25
> Finished chain.

{'query': 'If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue our store will generate (post discount)?',
 'result': '22349.25'}

In [39]:
new_chain.run('How much revenue  our store will generate by selling all Van Heuson TShirts without discount?')

> Entering new SQLDatabaseChain chain...
How much revenue  our store will generate by selling all Van Heuson TShirts without discount?
SQLQuery:SELECT sum(price * stock_quantity) FROM t_shirts WHERE brand = 'Van Huesen'
SQLResult: [(Decimal('22929'),)]
Answer:22929
> Finished chain.

'22929'